[Unit]
Description=Video capture with Basler camera
After=network.target

[Service]
Environment=HOME=/home/bob
ExecStart=/usr/bin/python3 /home/bob/video_capture/captation.py
WorkingDirectory=/home/bob/video_capture
Restart=on-failure
RestartSec=5
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=default.target